# Buscando peliculas similares

*Comenzaremos cargando el conjunto de datos de MovieLens. Usando pandas, podemos cargar muy rápidamente las filas de los archivos u.data y you.item que nos interesan, y fusionarlos para que podamos trabajar con nombres de películas en lugar de ID. (En un trabajo de producción real, te quedarías con las identificaciones y te preocuparías por los nombres en la capa de visualización para hacer las cosas más eficientes. Pero esto nos permite entender lo que está pasando mejor por ahora)*

In [75]:
import pandas as pd
import numpy as np
from ast import literal_eval

rating=pd.read_csv(r'./ratings_small.csv')
movie=pd.read_csv(r'./movies_metadata.csv')

regex = re.compile(r'[^0-9]') # Eliminamos todo lo que no sean números
movie['id']=movie['id'].replace(regex, '').astype(int)
ratingok=rating.merge(movie,left_on='movieId',right_on='id')
ratingok=ratingok[['movieId','belongs_to_collection']]
ratingok=ratingok.dropna()

ratingok.belongs_to_collection = ratingok.belongs_to_collection.fillna('{}')
ratingok.belongs_to_collection = ratingok.belongs_to_collection.apply(literal_eval)

ratingok = ratingok.join(pd.json_normalize(ratingok.pop('belongs_to_collection')))
ratingok=ratingok.dropna()
ratingok = ratingok[~ratingok.astype(str).duplicated()]
ratingok = ratingok[['movieId','id','name']]

ratingok=pd.merge(ratingok, rating, how = 'left', on = None, left_on = ['movieId'],   # match entre df para crear otro df
                 right_on = ['movieId'], left_index = False, right_index = False)
ratingok = ratingok[~ratingok.astype(str).duplicated()]
ratingok

C:\Users\Dell Inspiron\AppData\Local\Temp\ipykernel_13724\3890166407.py:6: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movie=pd.read_csv(r'./movies_metadata.csv')

       movieId      id                      name  userId  rating   timestamp
0         1371  1575.0          Rocky Collection       1     2.5  1260759135
1         1371  1575.0          Rocky Collection       4     4.0   949810302
2         1371  1575.0          Rocky Collection       7     3.0   851869160
3         1371  1575.0          Rocky Collection      19     4.0   855193404
4         1371  1575.0          Rocky Collection      21     3.0   853852263
...        ...     ...                       ...     ...     ...         ...
11778      440   230.0  The Godfather Collection     649     4.0   834424947
11779      440   230.0  The Godfather Collection     653     4.0   948161152
11780      440   230.0  The Godfather Collection     654     4.0  1145391964
11781      440   230.0  The Godfather Collection     662     3.0   839022409
11782      440   230.0  The Godfather Collection     667     3.0   847271534

[11783 rows x 6 columns]

**Ahora la increíble función pivot_table en un marco de datos construirá una matriz de clasificación de usuario / película. Observe cómo NAN indicó datos faltantes: películas que el usuario específico no calificó**

In [76]:
movieRating=ratingok.pivot_table(index='userId',columns=['name'],values=['rating'])
movieRating.head()

                   rating                                                      \
name   48 Hrs. Collection A Nightmare on Elm Street Collection AVP Collection
userId
1                     NaN                                  NaN            NaN
2                     3.5                                  3.5            3.0
3                     4.0                                  NaN            2.5
4                     NaN                                  NaN            5.0
5                     NaN                                  NaN            4.0

                                                           \
name   Aces Go Places Collection Addams Family Collection
userId
1                            NaN                      NaN
2                            NaN                      3.0
3                            4.0                      3.0
4                            NaN                      5.0
5                            NaN                      3.5

                                                             \
name   American Graffiti Collection American Pie Collection
userId
1                               NaN                     4.0
2                               NaN                     3.0
3                               NaN                     NaN
4                               4.0                     4.0
5                               4.0                     NaN

                                                                            \
name   Back to the Future Collection Batman Collection Begotten Collection
userId
1                                NaN               NaN                 NaN
2                                4.5               3.0                 NaN
3                                NaN               NaN                 3.0
4                                5.0               NaN                 NaN
5                                4.0               NaN                 NaN

        ...                                                \
name    ... The Party Collection The Space Odyssey Series
userId  ...
1       ...                  NaN                      4.0
2       ...                  NaN                      NaN
3       ...                  NaN                      3.5
4       ...                  5.0                      4.0
5       ...                  4.0                      NaN

                                                         \
name   The Terminator Collection The Vampire Chronicles
userId
1                            NaN                    NaN
2                            3.0                    5.0
3                            NaN                    NaN
4                            NaN                    NaN
5                            NaN                    NaN

                                                                     \
name   The Vengeance Collection The Whole Nine/Ten Yards Collection
userId
1                           NaN                                 NaN
2                           NaN                                 NaN
3                           NaN                                 NaN
4                           3.0                                 3.0
5                           NaN                                 NaN

                                                                            \
name   Three Colors Collection Torrente Collection Transformers Collection
userId
1                          NaN                 NaN                     NaN
2                          3.0                 3.0                     3.0
3                          NaN                 2.5                     2.5
4                          NaN                 NaN                     NaN
5                          NaN                 4.0                     4.0


name   Wallace & Gromit Collection
userId
1                              NaN
2                              NaN
3                              NaN
4                              3.0
5                              NaN

[5 rows x 67 columns]

In [73]:
rating

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]